{% include header.html %}

    {% include home-hero.html %}

    <main id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            {% if site.section_title != '' %}
            <h2 class="section-title text-center">{{ site.section_title }}</h2>
            {% endif %}

            <div class="vertical-center">
              <p>I am a 3rd year PhD Student in the Department of Economics at Boston College.</p>
              <p>My primary research interests are in Applied Econometrics and Industrial Organization.</p>
              <p>E-mail: linqi.zhang@bc.edu</p>
            </div>
          </div>
        </div>
      </div>
    </main>

{% include footer.html %}
